.momey-total {
  background: url("../images/header.jpg");
  background-position: 0px;
}
.momey-total .money {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 2rem 0;
  color: #fff;
}
.momey-total .money b {
  color: #EE7600;
  font-size: 2.5rem;
}
#page-money .card-header .num {
  font-size: 1.6rem;
  font-weight: 600;
}
#page-money .card-header .num b {
  color: #63B8FF;
}
#page-money .card-header .num-red b {
  color: #EE4000;
}
#page-money .card-content-inner .icon {
  margin-right: .2rem;
}
